#aboutE{
    background: #E0E0E0;
    width: 1000px;
    height: 1120px;
    margin-left: 350px;
    border: 2px solid;
}
#veryDang{
    width: 950px;
    border: 1px solid red;
    margin-left: 20px;
    margin-top: 10px;
}
#vdan{
    size: 18px;
    color: red;
}
#allergens{
    width: 950px;
    border: 1px solid green;
    margin-left: 20px;
    margin-top: 10px;
}
#alg{
    size: 18px;
    color: green;
}
#dang{
    width: 950px;
    border: 1px solid rgb(8, 132, 214);
    margin-left: 20px;
    margin-top: 10px;
}
#dng{
    size: 18px;
    color: rgb(8, 132, 214);
}
#carcinogens{
    width: 950px;
    border: 1px solid rgb(157, 15, 240);
    margin-left: 20px;
    margin-top: 10px;
}
#crg{
    size: 18px;
    color: rgb(157, 15, 240);
}
#upsetStomach{
    width: 950px;
    border: 1px solid rgb(26, 187, 11);
    margin-left: 20px;
    margin-top: 10px;
}
#upst{
    size: 18px;
    color: rgb(26, 187, 11);
}
#skinDiseases{
    width: 950px;
    border: 1px solid rgb(243, 20, 195);
    margin-left: 20px;
    margin-top: 10px;
}
#skds{
    size: 18px;
    color: rgb(243, 20, 195);
}
#intestinalDisorder{
    width: 950px;
    border: 1px solid rgb(18, 5, 138);
    margin-left: 20px;
    margin-top: 10px;
}
#inds{
    size: 18px;
    color: rgb(18, 5, 138);
}
#pressure{
    width: 950px;
    border: 1px solid rgb(247, 144, 26);
    margin-left: 20px;
    margin-top: 10px;
}
#prs{
    size: 18px;
    color: rgb(247, 144, 26);
}
#dangForChild{
    width: 950px;
    border: 1px solid rgb(72, 247, 86);
    margin-left: 20px;
    margin-top: 10px;
}
#dfc{
    size: 18px;
    color: rgb(72, 247, 86);
}
#prohibited{
    width: 950px;
    border: 1px solid rgb(5, 1, 4);
    margin-left: 20px;
    margin-top: 10px;
}
#phb{
    size: 18px;
    color: rgb(5, 1, 4);
}
#suspicious{
    width: 950px;
    border: 1px solid rgb(202, 243, 20);
    margin-left: 20px;
    margin-top: 10px;
}
#ssp{
    size: 18px;
    color: rgb(202, 243, 20);
}